


body{
	
	padding: 10px;
	font-size: 15px;
	font-family: Verdana, Cursiva, serif;
}

body{

position:absolute;
left: -20;
top: -25;
width:100%

}



#cadrefond{
  position: absolute;
  top:400;
  left:300;
  height:700;
  width:1200;
  border-radius:6px;
  background-color:#FFFFFF;


}

#hypertechlogo{
height:-20px;
left:100;
position: absolute; top: 350 px; left: 300 px; bottom:800; margin-left: 100;"
}



	



#header{
height:250px;
overflow:hidden;
background:#232325;

}

.contenant {
  position: relative;
  text-align: center;
  color: red;
}

#texte_centrer {
  position: absolute;
  color: #00CED1;
  font-size: 500%;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-family: "Oxygen";
}


#wrap{
width: 100; 
height: 50px; 
margin: 0;
z-index: 99; 
position: relative; 
background-color: #232325;
}



.navbar{
height: 50px;
padding: 0;
margin: 0;
position: absolute; 
top:45;
left:45;
}

.navbar li {
height: auto;
width: 135.8px; 
float: top;  
text-align: center; 
list-style: none;  
font: normal bold 13px/1em Arial, Verdana, Helvetica;  
padding: 0;
margin: 0;
background-color: #232325;
}

.navbar a{							
padding: 18px 0;  
border-left: 1px solid #232325;
text-decoration: none; 
color: white; 
display: block;
}



.navbar li ul{
display: none;
height: auto;									
margin: 0; 
padding: 0; 
}


.navbar li:hover ul{
display: block;
}

.navbar li ul li{
background-color: #000000;
}

.navbar li ul li a{
border-left: 1px solid #f00020; 
border-right: 1px solid #f00020; 
border-top: 1px solid #f00020; 
border-bottom: 1px solid #f00020; 
}

.navbar li ul li a:hover{
background-color: #f25140;
}




#prebuilt {
position:absolute;
top: 400;	
left:250;

}

#PCATOMIZER{
position:absolute;
top:-80;	
font-size:25;
left:80;	
	
}

#config{
	position:absolute;
width:1100;
left: 80;
top: -45;
color:#969696;
	
	
}

#description{
font-size: 20px;
	position:absolute;
width:550;
left: 400;
top: -45;

}	



#prix{
position:absolute;
left:550;
bottom:40;
font-size:50;
 
 width:220;
height: 380;
top:50;
border-radius:8px /8px;
background-color:#d9eef4;

}

#dispoweb{
position:absolute;
left:605;
top:250;

}

td{
border:1px solid black;
width:120;
font-size:15;		
	
}

table
{
    border-collapse: collapse;
	
}
td
{
    border: 1px solid black;
	
}




		
#cadreinfolog{
	position:absolute;
	font-size:20;
	bottom:-35;
  right:720;
  top:160;
width:0;
height: 40;
background-color: #ffe6cf;	
}

#demconf{
  position:absolute;
	font-size:20;
	bottom:-63;
  right:467;
width:210;
height: 40;
background-color: #ffe6cf;	
}

#demconf FONT{
position:absolute;
bottom:9;
  
}


nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}






.quantite{
height: 50px;
width:50;
padding: 0;
margin: 0;
position: absolute; 
top:-230;
left:80;
border-left: 1px solid #000000; 
border-right: 1px solid #000000; 
border-top: 1px solid #000000; 
border-bottom: 1px solid #000000; 
}

.quantite li {
height: auto;
width: 50; 
float: top;  
text-align: center; 
list-style: none;  
font: normal bold 13px/1em Arial, Verdana, Helvetica;  
padding: 0;
margin: 0;
background-color: #FFFFFF;
}

.quantite a{							
padding: 18px 0;  
border-left: 1px solid #ccc9c9;
text-decoration: none; 
color: #969696; 
display: block;
}



.quantite li ul{
display: none;
height: auto;									
margin: 0; 
padding: 0; 
}


.quantite li:hover ul{
display: block;
}

.quantite li ul li{
background-color: #FFFFFF;
}

.quantite li ul li a{
border-left: 1px solid #000000; 
border-right: 1px solid #000000; 
border-top: 1px solid #FFFFFF; 
border-bottom: 1px solid #000000; 
}

.quantite li ul li a:hover{
background-color: #F3F3F3;
}



#quantitétxt{
position:absolute;
right:60;	
bottom:20;
font-size:18;	
	
}


#sysex{
position:absolute;
font-size:15;
top:300;	
		
}


#cadresysex{
	
	
width:180;
height: 50;
background-color: white;		
	border-left: 2px solid #0096c8; 
border-right: 2px solid #0096c8; 
border-top: 2px solid #0096c8; 
border-bottom: 2px solid #0096c8; 
	
	
}

#textecadre{
	
position:absolute;
bottom:18;	
left:20;
}

#prix img{
position:absolute;
left:160;	
bottom:335;
width:60;
height:auto;
	
	
}

#textecadre img{
position:absolute;
left:124;	
bottom:4;
width:40;
height:auto;	
	
	
	
}


#pub {
	
position:absolute;
left:900;	
top:-50;
	
	
	
}

#btn1 {

position:absolute;
left:560;
top:-275;

}

#btn1:hover{
  background-color: #f00020;
}



.open-btn {
  display: flex;
  justify-content: flex-start;
}

/* Stylez et fixez le bouton sur la page */
.open-button {
  background-color: #e3e3e3;
  color: #ff8200;
  font-size: 18;
  top:230;
  right:270;
  width:450;
  height:50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
}
.open-button img{
position:absolute;
width:50;
height:auto;
left:-50;
top:-10;
}
.open-button strong{
  position:absolute;
  left:50;
  top:15;
}

.btn{
position: absolute;
bottom:365;
right:10;

}


/* Positionnez la forme Popup */
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}
/* Masquez la forme Popup */
.form-popup {
  display: none;
  position: fixed;
  left: 45%;
  top: 100;
  transform: translate(-45%, 5%);
  border: 2px solid #585757;
  z-index: 9;
}


/* Styles pour le conteneur de la forme */
.form-container {
  position:absolute;
  padding: 350px;
  top:20;
  left:-250;
  overflow:hidden;
  background-color: #f2f2f2;
  border-left: 1px solid #000000; 
  border-right: 1px solid #000000; 
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000; 
}


/* Stylez le bouton de connexion */
.form-container .btn {
 position:absolute;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
 height:40;
 top:10;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Stylez le bouton pour annuler */
.form-container .cancel {
  background-color: #cc0000;
}
/* Planez les effets pour les boutons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}











.open-btndeux {
  display: flex;
  justify-content: flex-start;
}

/* Stylez et fixez le bouton sur la page */
.open-buttondeux {
  background-color: #e3e3e3;
  color: #ff8200;
  font-size: 18;
  top:150;
  right:270;
  width:450;
  height:50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
}
.open-buttondeux img{
position:absolute;
width:50;
height:auto;
left:-50;
top:-15;
}
.open-buttondeux strong{
  position:absolute;
  left:50;
  top:15;
}

.btn{
position: absolute;
bottom:365;
right:10;

}


/* Positionnez la forme Popup */
.login-popupdeux {
  position: relative;
  text-align: center;
  width: 100%;
}
/* Masquez la forme Popup */
.form-popupdeux {
  display: none;
  position: fixed;
  left: 45%;
  top: 100;
  transform: translate(-45%, 5%);
  border: 2px solid #585757;
  z-index: 9;
}


/* Styles pour le conteneur de la forme */
.form-containerdeux {
  position:absolute;
  padding: 350px;
  top:20;
  left:-250;
  overflow:hidden;
  background-color: #f2f2f2;
  border-left: 1px solid #000000; 
  border-right: 1px solid #000000; 
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000; 
}


/* Stylez le bouton de connexion */
.form-containerdeux .btn {
 position:absolute;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
 height:40;
 top:10;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Stylez le bouton pour annuler */
.form-containerdeux .canceldeux {
  background-color: #cc0000;
}
/* Planez les effets pour les boutons */
.form-containerdeux .btn:hover,
.open-buttondeux:hover {
  opacity: 1;
}

.form-containerdeux img{
  position:absolute;
  width:100;
  height:auto;
  top:40;
  left:200;
  
  }
  .form-containerdeux b{
  position:absolute;
  top:65;
  left:300;
  font-size: 30px;
  }
  




  .open-btntrois {
    display: flex;
    justify-content: flex-start;
  }
  
  /* Stylez et fixez le bouton sur la page */
  .open-buttontrois {
    background-color: #e3e3e3;
    color: #ff8200;
    font-size: 18;
    top:208;
    right:270;
    width:450;
    height:50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
  }
  .open-buttontrois img{
  position:absolute;
  width:50;
  height:auto;
  left:-50;
  top:-15;
  }
  .open-buttontrois strong{
    position:absolute;
    left:50;
    top:15;
  }
  
  .btn{
  position: absolute;
  bottom:365;
  right:10;
  
  }
  
  
  /* Positionnez la forme Popup */
  .login-popuptrois {
    position: relative;
    text-align: center;
    width: 100%;
  }
  /* Masquez la forme Popup */
  .form-popuptrois {
    display: none;
    position: fixed;
    left: 45%;
    top: 100;
    transform: translate(-45%, 5%);
    border: 2px solid #585757;
    z-index: 9;
  }
  
  
  /* Styles pour le conteneur de la forme */
  .form-containertrois {
    position:absolute;
    padding: 350px;
    top:20;
    left:-250;
    overflow:hidden;
    background-color: #f2f2f2;
    border-left: 1px solid #000000; 
    border-right: 1px solid #000000; 
    border-top: 1px solid #000000; 
    border-bottom: 1px solid #000000; 
  }
  
  
  /* Stylez le bouton de connexion */
  .form-containertrois .btn {
   position:absolute;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
   height:40;
   top:10;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  /* Stylez le bouton pour annuler */
  .form-containertrois .canceltrois {
    background-color: #cc0000;
  }
  /* Planez les effets pour les boutons */
  .form-containertrois .btn:hover,
  .open-buttontrois:hover {
    opacity: 1;
  }
  
  .form-containertrois img{
    position:absolute;
    width:100;
    height:auto;
    top:40;
    left:200;
    
    }
    .form-containertrois b{
    position:absolute;
    top:65;
    left:300;
    font-size: 30px;
    }


    #designationtrois{
      position:absolute;
      width:400;
      height:50;
      background-color: #828282;	
      left:20;
      top:25%;
    }
    
    #designationtrois b{
    position:absolute;
    font-size: 18px;
    left:-1;
    top:12;
    
    
    }
    #searchbartrois{
      position:absolute;
      margin-left: 15%;
      padding:15px;
      left:40%;
    }














#popupImg img{
position:absolute;
left:300;
bottom:-190;


}

.form-container img{
position:absolute;
width:100;
height:auto;
top:40;
left:200;

}
.form-container b{
position:absolute;
top:65;
left:300;
font-size: 30px;
}















#designation{
  position:absolute;
  width:400;
  height:50;
  background-color: #828282;	
  left:20;
  top:25%;
}

#designation b{
position:absolute;
font-size: 18px;
left:-1;
top:12;

}



#designationdeux{
  position:absolute;
  width:400;
  height:50;
  background-color: #828282;	
  left:20;
  top:25%;
}

#designationdeux b{
position:absolute;
font-size: 18px;
left:-1;
top:12;


}


#searchbar{
  position:absolute;
  margin-left: 15%;
  padding:15px;
  left:40%;
}

#searchbardeux{
  position:absolute;
  margin-left: 15%;
  padding:15px;
  left:40%;
}

input[type=text] {
   width: 45%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}


input[type=text]:focus {
  width: 45%;
}



#list{
 font-size:  1.5em;
 margin-left: 90px;
}

#listdeux{
  font-size:  1.5em;
  margin-left: 90px;
 }
 










 .open-btnquatre {
  display: flex;
  justify-content: flex-start;
}

/* Stylez et fixez le bouton sur la page */
.open-buttonquatre {
  background-color: #e3e3e3;
  color: #ff8200;
  font-size: 18;
  top:208;
  right:270;
  width:450;
  height:50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
}
.open-buttonquatre img{
position:absolute;
width:50;
height:auto;
left:-50;
top:-15;
}
.open-buttonquatre strong{
  position:absolute;
  left:50;
  top:15;
}

.btn{
position: absolute;
bottom:365;
right:10;

}




/* Positionnez la forme Popup */
.login-popupquatre {
  position: relative;
  text-align: center;
  width: 100%;
}
/* Masquez la forme Popup */
.form-popupquatre {
  display: none;
  position: fixed;
  left: 45%;
  top: 100;
  transform: translate(-45%, 5%);
  border: 2px solid #585757;
  z-index: 9;
}


/* Styles pour le conteneur de la forme */
.form-containerquatre {
  position:absolute;
  padding: 350px;
  top:20;
  left:-250;
  overflow:hidden;
  background-color: #f2f2f2;
  border-left: 1px solid #000000; 
  border-right: 1px solid #000000; 
  border-top: 1px solid #000000; 
  border-bottom: 1px solid #000000; 
}


/* Stylez le bouton de connexion */
.form-containerquatre .btn {
 position:absolute;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
 height:40;
 top:10;
  margin-bottom: 10px;
  opacity: 0.8;
}
/* Stylez le bouton pour annuler */
.form-containerquatre .cancelquatre {
  background-color: #cc0000;
}
/* Planez les effets pour les boutons */
.form-containerquatre .btn:hover,
.open-buttonquatre:hover {
  opacity: 1;
}

.form-containerquatre img{
  position:absolute;
  width:100;
  height:auto;
  top:40;
  left:200;
  
  }
  .form-containerquatre b{
  position:absolute;
  top:65;
  left:300;
  font-size: 30px;
  }


  #designationquatre{
    position:absolute;
    width:400;
    height:50;
    background-color: #828282;	
    left:20;
    top:25%;
  }
  
  #designationquatre b{
  position:absolute;
  font-size: 18px;
  left:-1;
  top:12;
  
  
  }
  #searchbarquatre{
    position:absolute;
    margin-left: 15%;
    padding:15px;
    left:40%;
  }


.nommemoirevive{
position: absolute;
left : -160%;
}









ol {
  list-style-type: none;
  position:absolute;
}


ol li{
  position:absolute;
  font-size:12px;
  right:-1000%;
  width: 600;
}




input[id="boxcheck"]{
position:absolute;
left:5%;
top:175%;
}

input[id="boxcheckdeux"]{
  position:absolute;
  left:5%;
  top:235% /*60 d'écart par check*/;
  }


  input[id="boxchecktrois"]{
    position:absolute;
    left:5%;
    top:295%;
    }


    input[id="boxcheckquatre"]{
      position:absolute;
      left:5%;
      top:355%;
      }

    input[id="boxcheckcinq"]{
        position:absolute;
        left:5%;
        top:415%;
        }

        input[id="boxchecksix"]{
          position:absolute;
          left:5%;
          top:475%;
          }
  

          input[id="boxchecksept"]{
            position:absolute;
            left:5%;
            top:535%;
            }
  
            input[id="boxcheckhuit"]{
              position:absolute;
              left:5%;
              top:595%;
              }
    
              input[id="boxcheckneuf"]{
                position:absolute;
                left:5%;
                top:655%;
                }

                input[id="boxcheckdix"]{
                  position:absolute;
                  left:5%;
                  top:715%;
                  }

                  input[id="boxcheckonze"]{
                    position:absolute;
                    left:5%;
                    top:775%;
                    }

                    input[id="boxcheckdouze"]{
                      position:absolute;
                      left:5%;
                      top:835%;
                      }









          #cinqetoiles img{
            position:absolute;
            top:160%;
            left:102%;
            }

            #quatreetoilesdemi img{
            position:absolute;
            top:220%;
            left:101.5%/*101.5 pour quatretoilesdemi*/;
            }

             #cinqetoilesdeux img{
              position:absolute;
              top:280%/*60 d'ecart par etoiles*/;
              left:102%;
              }

               #cinqetoilestrois img{
                position:absolute;
                top:340%;
                left:102%;
                }

                  #cinqetoilesquatre img{
                  position:absolute;
                  top:400%;
                  left:102%;
                  }
                      #quatreetoilesdemideux img{
                      position:absolute;
                      top:460%;
                      left:101.5%;
                      }
  

                      #cinqetoilescinq img{
                        position:absolute;
                        top:520%;
                        left:102%;
                        }

                        
                        #cinqetoilessix img{
                          position:absolute;
                          top:580%;
                          left:102%;
                          }

                          #quatreetoilesdemitrois img{
                            position:absolute;
                            top:640%;
                            left:102%;
                            }
  
                            #cinqetoilessept img{
                              position:absolute;
                              top:700%;
                              left:102%;
                              }

                              #cinqetoileshuit img{
                                position:absolute;
                                top:760%;
                                left:102%;
                                }

                                #quatreetoilesdemiquatre img{
                                  position:absolute;
                                  top:820%;
                                  left:102%;
                                  }


                                  
                        

                                            /*VENTIRAD*/




                                  #quatreetoilesdemicinq img{
                                    position:absolute;
                                    top:160%;
                                    left:102%;
                                    }

                                    #cinqetoilesneuf img{
                                      position:absolute;
                                      top:220%;
                                      left:102%;
                                      }
  
  
                                      #quatreetoilesdemisix img{
                                        position:absolute;
                                        top:280%;
                                        left:102%;
                                        }

                                        #quatreetoilesdemisept img{
                                          position:absolute;
                                          top:340%;
                                          left:102%;
                                          }

                                          #quatreetoilesdemihuit img{
                                            position:absolute;
                                            top:400%;
                                            left:102%;
                                            }

                                            #quatreetoilesdemineuf img{
                                              position:absolute;
                                              top:460%;
                                              left:102%;
                                              }

                                              #quatreetoilesdemidix img{
                                                position:absolute;
                                                top:520%;
                                                left:102%;
                                                }

                                                #aucuneetoile img{
                                                  position:absolute;
                                                  top:590%;/*+10*/
                                                  left:104%;
                                                  width:22.5%;
                                                  height:auto;
                                                  }


                                                  #aucuneetoiledeux img{
                                                    position:absolute;
                                                    top:650%;
                                                    left:104%;
                                                    width:22.5%;
                                                    height:auto;
                                                    }

                                                    #quatreetoilesdemionze img{
                                                      position:absolute;
                                                      top:700%;
                                                      left:102%;
                                                      }

                                                      #quatreetoilesdemidouze img{
                                                        position:absolute;
                                                        top:760%;
                                                        left:102%;
                                                        }

                                                      #aucuneetoiletrois img{
                                                        position:absolute;
                                                        top:770%;
                                                        left:104%;
                                                        width:22.5%;
                                                        height:auto;
                                                        }

                                                        #cinqetoilesdix img{
                                                          position:absolute;
                                                          top:820%;
                                                          left:102%;
                                                          }






                                  
                        #euro img{
                          position: absolute;
                          width:32;
                          height:auto;
                          left:142%;
                          top:145%
                        
                          
                        }
                        #euro b{
                          position: absolute;
                          left:135%;
                          top:165%;
                        
                        }

                        #eurodeux img{
                          position: absolute;
                          width:32;
                          height:auto;
                          left:142%;
                          top:205%/*60 de  plus*/;
                        
                        }
                        #eurodeux b{
                          position: absolute;
                          left:135%;
                          top:225% /*60 de  plus*/;
                        
                        }

                          #eurotrois img{
                          position: absolute;
                          width:32;
                          height:auto;
                          left:142%;
                          top:265%;
                        
                          }
                          #eurotrois b{
                          position: absolute;
                          left:135%;
                          top:285% ;
                            
                          }


                          #euroquatre img{
                            position: absolute;
                            width:32;
                            height:auto;
                            left:142%;
                            top:325%;
                          
                            }
                            #euroquatre b{
                            position: absolute;
                            left:135%;
                            top:345% ;
                              
                            }


                            #eurocinq img{
                              position: absolute;
                              width:32;
                              height:auto;
                              left:142%;
                              top:385%;
                            
                              }
                              #eurocinq b{
                              position: absolute;
                              left:135%;
                              top:405% ;
                                
                              }

                              #eurosix img{
                                position: absolute;
                                width:32;
                                height:auto;
                                left:142%;
                                top:445%;
                              
                                }
                                #eurosix b{
                                position: absolute;
                                left:135%;
                                top:465% ;
                                  
                                }

                                #eurosept img{
                                  position: absolute;
                                  width:32;
                                  height:auto;
                                  left:142%;
                                  top:505%;
                                
                                  }
                                  #eurosept b{
                                  position: absolute;
                                  left:135%;
                                  top:525% ;
                                    
                                  }

                                  #eurohuit img{
                                    position: absolute;
                                    width:32;
                                    height:auto;
                                    left:142%;
                                    top:565%;
                                  
                                    }
                                    #eurohuit b{
                                    position: absolute;
                                    left:135%;
                                    top:585% ;
                                      
                                    }

                                    #euroneuf img{
                                      position: absolute;
                                      width:32;
                                      height:auto;
                                      left:142%;
                                      top:625%;
                                    
                                      }
                                      #euroneuf b{
                                      position: absolute;
                                      left:135%;
                                      top:645% ;
                                      }

                                      #eurodix img{
                                        position: absolute;
                                        width:32;
                                        height:auto;
                                        left:142%;
                                        top:685%;
                                      
                                        }
                                        #eurodix b{
                                        position: absolute;
                                        left:135%;
                                        top:705% ;
                                        }
                                      
                                        #euroonze img{
                                          position: absolute;
                                          width:32;
                                          height:auto;
                                          left:142%;
                                          top:745%;
                                        
                                          }
                                          #euroonze b{
                                          position: absolute;
                                          left:135%;
                                          top:765% ;
                                          }

                                           #eurodouze img{
                                            position: absolute;
                                            width:32;
                                            height:auto;
                                            left:142%;
                                            top:805%;
                                          
                                             }
                                             #eurodouze b{
                                             position: absolute;
                                             left:135%;
                                             top:825% ;
                                              }


                                              /*euro*/

                                              #euro img{
                                                position: absolute;
                                                width:32;
                                                height:auto;
                                                left:142%;
                                                top:145%
                                              
                                                
                                              }
                                              #euro b{
                                                position: absolute;
                                                left:135%;
                                                top:165%;
                                              
                                              }

                                              #listtrois{
                                                font-size:  1.5em;
                                                margin-left: 90px;
                                               }
                                               





                                               .open-buttonquatre {
                                                background-color: #e3e3e3;
                                                color: #ff8200;
                                                font-size: 18;
                                                top:267;
                                                right:270;
                                                width:450;
                                                height:50;
                                                border: none;
                                                border-radius: 5px;
                                                cursor: pointer;
                                                opacity: 0.8;
                                                position: absolute;
                                              }
                                              .open-buttonquatre img{
                                              position:absolute;
                                              width:50;
                                              height:auto;
                                              left:-50;
                                              top:-10;
                                              }

                                              .open-buttonquatre strong{
                                                position:absolute;
                                                left:50;
                                                top:15;
                                              }

                                              .form-containerquatre b{
                                                position:absolute;
                                                top:65;
                                                left:300;
                                                font-size: 30px;
                                                }
                                                
                                              






/*
ol li:hover{
  background-color:#dcf0f7;
}
*/

#note{
  position:absolute;
  width:120;
  height:50;
  background-color: #828282;	
  left:100%;
  top:-1%;
}



#prixproc{
  position:absolute;
  width:120;
  height:50;
  background-color: #828282;	
  left:130.2%;
  top:-1%;
}


























</style>
	

	